#about {
  color: white;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  align-items: center;
  width: 90%;
  text-align: center;
}

h2::before,
h2::after {
  content: "";
  height: 2px;
  background-color: white;
  display: block;
}

.container-about {
  display: flex;
  gap: 5%;
  justify-content: center;
  opacity: 0;
}

.container-about > img {
  border-radius: 10px;
  object-fit: cover;
  box-shadow: -10px -10px #f5fefd;
}

.about-me {
  padding: 30px;
  font-size: 1rem;
  width: 40%;
  line-height: 2;
}

.about-links {
  margin-top: 20px;
  display: flex;
  gap: 5%;
  justify-content: center;
}

.about-links a {
  opacity: 0.8;
}

.about-links a:hover {
  opacity: 1;
}

.container-skills {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  opacity: 0;
}

.container-skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 60px 30px 60px;
  gap: 5px;
}

.skill-image {
  font-size: 4rem;
}

@media (max-width: 800px) {
  #about {
    padding-top: 10%;
  }

  .container-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-me {
    width: 100%;
  }

  .container-about img {
    width: 300px;
  }

  .container-skill {
    margin: 20px;
  }

  .container-skills {
    width: 80%;
  }

  .skill-image {
    font-size: 2rem;
  }
}
